/* FONTS */

@font-face {
    font-family: 'FNL';
    src: url(../fonts/0.ttf);
}

@font-face {
    font-family: 'Richardson';
    src: url(../fonts/1.otf);
}

html, body {
  overflow: hidden;
}

body {
  cursor: none; /* Disable cursor */
  position: fixed;
  touch-action: manipulation;
}

/* LOADER */
.loader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/splash.png');
  background-size: auto 100%;
  background-position: right bottom;
  z-index: 2;
  height: 100%;
  font-family: 'Richardson';
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/splash_grey.png');
  background-size: auto 100%;
  background-position-x: right;
  background-position-y: 100px;
  z-index: 3;
  height: 100%;
  bottom: 100px;
}

.loader.loaded {
  transition: opacity 2s ease-out;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  -ms-transition: opacity 2s ease-out;
  opacity: 0;
}


/* HELPERS */
.helpers {
  position: fixed;
  right: 100px;
  top: 200px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  font-family: 'FNL';
}

.helpers img {
  opacity: 0.6;
}

.helpers.deactivated img {
  transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  opacity: 0;
}

